// 1000px Screens

@media screen and (max-width: 1000px) {
  // general setting
  .sub-heading {
    font-size: 0.75rem;
  }

  .heading {
    font-size: 2.5rem;
    letter-spacing: 0.5px;
  }

  .text {
    font-size: 0.84rem;
    margin: 1.3rem 0;
  }

  .btn {
    padding: 0.8rem 1.6rem;
    font-size: 0.8rem;
    min-width: 100px;
    border-radius: 14px;
  }

  .btn.secondary-btn {
    font-size: 0.8rem;
  }

  .shape.square {
    opacity: 0.15;
  }

  // header
  header .logo {
    height: 100px;
    line-height: 100px;
    font-size: 1.45rem;
  }

  .nav-link {
    font-size: 0.75rem;
  }

  // showcase
  .showcase {
    padding: 100px 0;

    .container {
      grid-template-columns: 1fr 400px;
      height: 450px;
    }
  }

  .showcase .heading {
    font-size: 2.7rem;
    letter-spacing: 0.5px;
  }

  // skills
  .skill-box {
    padding: 4rem;
  }

  .skills-wrap .skill .sk-progress {
    transform: scale(0.85);
  }

  // services
  .services .container {
    column-gap: 2.5rem;
  }

  // contact
  .contact .container {
    column-gap: 2.5rem;

    .contact-form {
      padding: 2.5rem 2rem;

      h3 {
        font-size: 1.1rem;
        margin-bottom: 1rem;
      }

      .form-input {
        padding: 0.8rem 1.3rem;
        margin-bottom: 1rem;
      }
    }
  }
}

//  768px Screens
@media screen and (max-width: 768px) {
  :root {
    --section-padding: 4.5rem;
  }

  //header

  .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9;
    opacity: 0;
    transition: var(--trantision);
    pointer-events: none;
  }

  header {
    height: 545px;
    max-height: 100px;
    overflow: hidden;
  }

  header.scrolled {
    height: 525px;
    max-height: 80px;
  }

  header .container {
    justify-content: space-between;
  }

  .hamburger {
    display: block;
  }

  .links {
    order: 3;
    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0 2rem;
    opacity: 0;
    transition: var(--trantision);

    ul {
      flex-direction: column;
      position: relative;

      li {
        margin: 1.5rem 0;
      }

      .nav-link {
        color: var(--heading-color);
        font-weight: 500;
      }

      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0.5px;
        background-color: var(--heading-color);
        opacity: 0;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .mode-toggle-btn {
      margin: 0;
    }
  }

  body.open header {
    max-height: 545px;
    background-color: var(--bg-color-2);
  }

  body.open header.scrolled {
    max-height: 525px;
  }

  body.open .overlay {
    opacity: 1;
    pointer-events: auto;
  }

  body.open .links {
    opacity: 1;
  }

  //showcase section

  .showcase .container {
    padding-top: 2rem;
    grid-template-columns: 1fr;
    height: revert;
    justify-items: center;
    row-gap: 4rem;
  }

  .showcase-info {
    width: 100%;
  }

  .showcase .showcase-info .square {
    top: 45%;
    left: 80%;
  }

  .showcase-image {
    width: 100%;
    max-height: 560px;
    max-width: 400px;
    margin-top: 0;
  }

  .cta {
    margin-top: 2rem;
  }

  //about section
  .about .container {
    grid-template-columns: 1fr;
  }

  .about .triangle {
    opacity: 0.05;
    top: 5%;
  }

  .about-grid {
    order: 3;
    grid-template-columns: 160px 160px;
    grid-template-rows: 160px 160px;
    margin: 2.5rem 0 0 0;
    column-gap: 2rem;
    row-gap: 80px;

    &::before {
      width: 160px;
      height: 160px;
      border: 10px solid var(--main-color-1);
    }
  }

  .about .heading br {
    display: none;
  }

  .about .text {
    margin: 1.5rem 0;
  }

  .about-grid .about-card svg {
    width: 36px;
    height: 36px;
  }

  .about-card h4 {
    font-size: 0.8rem;
  }

  //skills section
  .skills-box {
    .box-desc {
      grid-template-columns: 1fr;
      justify-items: flex-start;
    }
  }

  .skills-wrap {
    grid-template-columns: repeat(2, 160px);
    row-gap: 1rem;

    .skill {
      .sk-title {
        font-size: 0.85rem;
      }
    }
  }

  //services section
  .services .container {
    grid-template-columns: 1fr;
  }

  .services-grid {
    margin-top: 5rem;

    .srv-card {
      border-radius: 10px;
      padding: 2rem 1.5rem;

      h3 {
        font-size: 0.9rem;
      }

      &::before {
        width: 160px;
        height: 160px;
        border: 10px solid var(--main-color-1);
      }
    }
  }

  //portfolio section
} // media query 768px
