.portfolio {
  .container {
    transition: 0.5s;
  }

  .portfolio-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 4rem;

    .portfolio-title {
      padding-bottom: 1rem;
    }

    .filter-btn {
      display: inline-block;
      color: var(--heading-color);
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
      font-size: 0.85rem;
      font-weight: 600;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      margin-left: 1.2rem;
    }
  }

  .portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
  }

  .pf-card {
    border-radius: 14px;
    overflow: hidden;
    background-color: var(--bg-color-2);
    height: 260px;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  .pf-image {
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover .pf-overlay {
      pointer-events: auto;
      background-color: var(--bg-color-transparent);
      backdrop-filter: blur(4px);
    }

    &:hover .pf-overlay .pf-icon svg {
      opacity: 1;
      transform: translateY(0px);
    }

    .pf-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: transparent;
      backdrop-filter: blur(0px);
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
      transition: var(--transition);

      .pf-icon svg {
        width: 40px;
        height: auto;
        padding: 10px;
        margin: 0 0.5rem;
        background-color: var(--main-color-2);
        border-radius: 50%;
        cursor: pointer;
        transition: var(--transition);
        opacity: 0;
        transform: translateY(14px);

        path {
          fill: #fff;
        }

        &:hover {
          filter: brightness(97%);
        }
      }
    }
  }

  .pf-desc {
    display: flex;
    justify-content: space-between;
    padding: 1.1rem 1.5rem;

    h3 {
      font-size: 0.9rem;
      color: var(--heading-color);
      font-weight: 600;
      text-transform: capitalize;
    }
  }

  .btn.sm {
    border: 1px solid blue;
    padding: 0.07rem 0.1rem;
    font-size: 0.78rem;
    border-bottom-width: 2px;

    &::before {
      height: 2px;
      bottom: -2px;
    }
  }

  // modal

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 99;
    pointer-events: none;

    .modal-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0;
      transition: var(--transition);
    }

    .slider-wrap {
      position: absolute;
      width: 90%;
      max-width: 900px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, calc(-50% + 300px));
      display: grid;
      grid-template-columns: 100px 1fr 100px;
      align-items: center;
      justify-items: center;
      opacity: 0;
      transition: var(--transition);

      .navigation {
        cursor: pointer;
        transition: var(--transition);

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .slider-wrap img {
      width: 100%;
      border-radius: 10px;
      display: none;
    }

    .slider-wrap img.showImage {
      display: block;
    }

    svg {
      width: 40px;

      path {
        fill: #fff;
      }
    }
  }
}

// .portfolio.open .modal {
//   pointer-events: auto;
// }

// .portfolio.open .modal-overlay {
//   opacity: 1;
// }

// .portfolio.open .container {
//   transform: scale(0.9);
// }

// .portfolio.open .slider-wrap {
//   transform: translate(-50%, -50%);
//   opacity: 1;
// }
